shortenedProblem.py
functionTests.py
functionTests.ipynb
guilayout*
startup.txt
gudrun.zip
test.py
exampleFiles/Xray*
.ipynb_checkpoints*
exampleFiles/.ipynb_checkpoints*
pdfFileList.dat
pdfConfigFile.dat