shortenedProblem.py
functionTests.py
functionTests.ipynb
guilayout*
startup.txt
gudrun.zip
test.py
exampleFiles/Xray*
exampleFiles/fq
exampleFiles/gr
exampleFiles/sq
.ipynb_checkpoints*
exampleFiles/.ipynb_checkpoints*
pdfFileList.dat
pdfConfigFile.dat
pdfBkgFileList.dat
exampleFiles/pdfgetxoutput/*
exampleFiles/0p4mm_capillary_018_av17_monitor.XYEtxt
exampleFiles/capillary.XYtxt
exampleFiles/startup.txt
exampleFiles/BeamParameters.txt
exampleFiles/capillary.xy
tmp
regridTest.py
pdfgetx3_gui.bat
*__pycache__*
pdfgetx3_gui.pyw
pdfgetx3_gui.spec
installer.cfg
*.egg-info
*.yml
dist*
setup.py